PORT=3000
DATABASE_URL=postgresql://postgres:postgrespassword@control-db:5432/saas_control?schema=public
REDIS_URL=redis://redis:6379
PUBLIC_GATEWAY_URL=http://localhost
ROOT_DOMAIN=topupdomain.com
PAYMENT_WEBHOOK_SECRET=whsec_master_saas_secret_key_123
TENANT_DB_ADMIN_URL=mysql://root:tenantdbpassword@tenant-db:3306/mysql
PROXY_DYNAMIC_DIR=/etc/traefik/dynamic
DEFAULT_TENANT_IMAGE=topup-template:1.0.0
WORKER_CONCURRENCY=2
DOCKER_SOCKET=/var/run/docker.sock
